@media ( min-width: 768px ){
	.col-sm-9.p-0{
		padding-right: 7.5px !important
	}
	.col-sm-3.p-0{
		padding-left: 7.5px !important	
	}	
}

@media ( max-width: 768px ){
	.mdl-card.mdl-indicator{
		max-width: 100%;
		margin: 0;
		margin-bottom: 10px
	}
}

.img_colegio {
	height: 40px;
	width: 40px;
	background-size: 40px;
	background-image:
		url('<?php echo base_url();?>public/files/images/avantgardLogo.png');
}

.cardDisplay {
	display: block;
}

#contArbolIndiDeta td {
	max-width: 150px;
}

#infoHistorial .mdl-card__supporting-text, #cardPills .mdl-card__supporting-text,
	#cardGauge .mdl-card__supporting-text, #infoBasica .mdl-card__supporting-text
	{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#cardGauge.mdl-card.mdl-indicator {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
}

#infoHistorial .mdl-card__supporting-text {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
}

#infoHistorial .mdl-card__supporting-text img {
	width: 150px
}

path[fill="transparent"] {
	fill: transparent !important
}

#contGauge {
	width: 200px;
	margin: auto;
	max-height: 150px;
	margin-bottom: 20px;
}

#cont_tb_resp_indi .mdl-list__item {
	padding-left: 0;
}

#modalViewResponsable .mdl-card__actions {
	text-align: center;
}

#modalViewResponsable .mdl-card__actions .mdl-button {
	margin: 0 20px
}

img#img_repsonsable {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

/*GAUGES LINEAS NUEVOS*/
@media ( min-width : 1200px) {
	.desc_linea {
		margin-top: -15px;
		margin-bottom: -14px;
	}
}

@media ( min-width : 992px) and (max-width: 1200px) {
	.desc_linea {
		margin-top: -15px;
		margin-bottom: -14px;
	}
}

@media ( min-width : 769px) and (max-width: 992px) {
	.desc_linea {
		margin-top: -15px;
		margin-bottom: -14px;
	}
}

@media ( min-width : 530px) and (max-width: 769px) {
	.desc_linea {
		margin-top: 0%;
	}
}

@media ( min-width : 400px) and (max-width: 530px) {
	.desc_linea {
		margin-top: 0%;
	}
}

@media ( max-width : 400px) {
	.desc_linea {
		margin-top: 0%;
	}
}

/* Time line */
img {
	vertical-align: middle;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}

.img-rounded {
	border-radius: 3px;
}

.img-thumbnail {
	background-color: #fff;
	border: 1px solid #ededf0;
	border-radius: 3px;
	display: inline-block;
	height: auto;
	line-height: 1.428571429;
	max-width: 100%;
	moz-transition: all .2s ease-in-out;
	o-transition: all .2s ease-in-out;
	padding: 2px;
	transition: all .2s ease-in-out;
	webkit-transition: all .2s ease-in-out;
}

.img-circle {
	border-radius: 50%;
}

.timeline-centered {
	position: relative;
}

.timeline-centered:before, .timeline-centered:after {
	content: " ";
	display: table;
}

.timeline-centered:after {
	clear: both;
}

.timeline-centered:before, .timeline-centered:after {
	content: " ";
	display: table;
}

.timeline-centered:after {
	clear: both;
}

.timeline-centered:before {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	background: #f5f5f6;
	top: 20px;
	bottom: 20px;
	margin-left: 20px;
}

.timeline-centered .timeline-entry {
	position: relative;
	margin-top: 5px;
	margin-left: 30px;
	margin-bottom: 10px;
	clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after
	{
	content: " ";
	display: table;
}

.timeline-centered .timeline-entry:after {
	clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after
	{
	content: " ";
	display: table;
}

.timeline-centered .timeline-entry:after {
	clear: both;
}

.timeline-centered .timeline-entry.begin {
	margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
	float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
	margin-left: 0;
	margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time
	{
	left: auto;
	right: -100px;
	text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon
	{
	float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label
	{
	margin-left: 0;
	margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after
	{
	left: auto;
	right: 0;
	margin-left: 0;
	margin-right: -9px;
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
	position: relative;
	margin-left: -57.5px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before,
	.timeline-centered .timeline-entry .timeline-entry-inner:after {
	content: " ";
	display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
	clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before,
	.timeline-centered .timeline-entry .timeline-entry-inner:after {
	content: " ";
	display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
	clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time
	{
	position: absolute;
	left: -100px;
	text-align: right;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time>span
	{
	display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time>span:first-child
	{
	font-size: 15px;
	font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time>span:last-child
	{
	font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon
	{
	background: #fff;
	color: #737881;
	display: block;
	width: 20px;
	height: 20px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	-moz-box-shadow: 0 0 0 5px #f5f5f6;
	-webkit-box-shadow: 0 0 0 5px #f5f5f6;
	box-shadow: 0 0 0 5px #f5f5f6;
	line-height: 40px;
	font-size: 15px;
	float: left;
	margin-top: 10px
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary
	{
	background-color: #303641;
	color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary
	{
	background-color: #ee4749;
	color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success
	{
	background-color: #607D8B;
	color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info
	{
	background-color: #21a9e1;
	color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning
	{
	background-color: #fad839;
	color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger
	{
	background-color: #cc2424;
	color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label
	{
	position: relative;
	background: #f5f5f6;
	padding: 1em;
	margin-left: 40px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after
	{
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 9px 9px 0;
	border-color: transparent #f5f5f6 transparent transparent;
	left: 0;
	top: 10px;
	margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,
	.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p
	{
	color: #737881;
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	margin: 0;
	line-height: 1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p+p
	{
	margin-top: 0;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2
	{
	font-size: 18px;
	margin-bottom: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a
	{
	color: #607D8B;
}

img.mdl-list__item-avatar {
	height: 34px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: transparent;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a img
	{
	height: 30px;
	width: 30px !important;
	margin-right: 5px;
	border-radius: 50%;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span
	{
	-webkit-opacity: .6;
	-moz-opacity: .6;
	opacity: .6;
	-ms-filter: alpha(opacity = 60);
	filter: alpha(opacity = 60);
	font-size: 14px
}