@CHARSET "UTF-8";

header {
	background-color: #009688 !important;
}

header i {
	color: #FFF !important;
}

header .mdl-layout__drawer-button i:BEFORE {
	color: #FFFFFF;
}

header .mdl-section-head {
	left: 120.67px;
	border-left-color : #FFFFFF;
	color : #FFFFFF;
}

@media ( max-width : 768px) {
	header .mdl-section-head {
		left: 0px;
		top: -10.5px;
	}
}

.mdl-tabs .mdl-tabs__tab:HOVER,
.mdl-tabs .mdl-tabs__tab:FOCUS,
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active{
	color: #009688;
}

.mdl-card-fab .mdl-card__title {
	background-color: #009688;
}

.mdl-card__menu .mdl-button.mdl-button--icon i{
	color:#757575;
}
.modal .mdl-card-fab .mdl-card__title h2.mdl-card__title-text {
	color: #ffffff;
}

.modal .mdl-card__actions button.mdl-button, .mdl-card-fab .mdl-card__actions button.mdl-button
	{
	color: #009688;
}

.modal .mdl-card__actions a.mdl-button--raised, .mdl-card-fab .mdl-card__actions a.mdl-button--raised,
	.modal .mdl-card__actions button.mdl-button--raised, .mdl-card-fab .mdl-card__actions button.mdl-button--raised
	{
	background-color: #009688;
}

/* Botones */
button.mdl-button, 
a.mdl-button {
	color: #009688;
}

.form-group .form-control ~ label:after, .form-group .form-control ~
	.form-control-line:after {
	background-color: #009688 !important;
}

/* Search */
.mdl-header-input-group {
	background-color: #00796B;
}

.mdl-header-input-group .mdl-icon i:BEFORE {
	color: #FFFFFF
}

.mdl-header-input-group .mdl-textfield .mdl-textfield__label {
	color: #FFFFFF;
}

/* Arbol de modulos */
.mdl-layout .mdl-layout__drawer .mdl-layout-title img, .mdl-layout .mdl-layout__header-row .mdl-layout-title img
	{
	height: 37.5px;
}

.mdl-nav a.dont-three i:FIRST-CHILD {
	top: 13.5px;
}

/* ADD MENU COLOR */
.mdl-nav li.active a, .mdl-nav li.active a i {
	color: #009688 !important;
}

/* Tabs */
header .mdl-layout__tab {
	color: #B2DFDB !important
}

header .mdl-layout__tab.is-active {
	color: #FFFFFF !important
}

header .mdl-layout__tab::after {
	background-color: #FFFFFF !important;
}

header .mdl-layout__tab .mdl-layout__tab-ripple-container .mdl-ripple {
	background-color: #FFFFFF !important;
}

header .mdl-layout__tab-bar {
	background-color: #009688;
}

header .mdl-layout.is-upgraded .mdl-layout__tab.is-active {
	color: #FFFFFF !important;
}

header .mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
	background-color: #FFFFFF;
}

.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple, .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after
	{
	background-color: #009688
}

/* Combo box */
.bs-searchbox input.form-control, .bs-searchbox input.form-control:hover,
	.bs-searchbox input.form-control:active, .bs-searchbox input.form-control:focus
	{
	border-bottom-color: #009688;
	color: #009688;
}

.dropdown-menu>.active>a .text, .dropdown-menu>.active>a:focus .text, .dropdown-menu>.active>a:hover .text,
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover
	{
	background-color: #009688;
}

/* Inputs and Label mdl */
.mdl-textfield__label:after {
	background-color: #009688 !important;
}

/* GROUPS INPUTS */
.mdl-button-group .mdl-btn .mdl-button.active {
	background-color: #009688;
}

.mdl-button-group .mdl-textfield .mdl-textfield__label:AFTER {
	bottom: 20px
}

/* Checkbox and option toggle */
.mdl-radio.is-checked .mdl-radio__outer-circle, .mdl-checkbox.is-checked .mdl-checkbox__box-outline
	{
	border-color: #009688;
}

.mdl-radio__inner-circle, .mdl-switch.is-checked .mdl-switch__thumb,
	.mdl-switch__ripple-container .mdl-ripple,
	.mdl-checkbox__ripple-container .mdl-ripple, .mdl-checkbox.is-checked .mdl-checkbox__tick-outline
	{
	background-color: #009688;
}

.mdl-radio__ripple-container .mdl-ripple, .mdl-switch.is-checked .mdl-switch__track
	{
	background-color: #80CBC4;
}

/* CALENDAR */
.cal-day-today span[data-cal-date] {
	color: #009688 !important
}

.cal-event-list, .cal-event-list:HOVER {
	background-color: #80CBC4 !important;
}

.event {
	background-color: #009688;
}

.event-important {
	border: 1px solid #F44336 !important;
	background-color: #F44336;	
}

.event-warning {
	border: 1px solid #FFEB3B !important;
	background-color: #FFEB3B;	
}

.event-info {
	border: 1px solid #009688 !important;
	background-color: #009688;	
}

.event-inverse {
	border: 1px solid #424242 !important;
	background-color: #424242;	
}

.event-success {
	border: 1px solid #009688 !important;
	background-color: #009688;	
}

.event-special {
	background-color: #80CBC4 !important;
	border: 1px solid #80CBC4 !important
}

/* Items asignados */
.mdl-assign {
	background-color: #80CBC4;
}

.mdl-assign .text {
	color: #009688;
}

.mdl-assign .option button i {
	color: #009688;
}

/* Filtros para asistencia */
.mdl-filter ul.nav.nav-pills li {
	border-color: #009688;
}

.mdl-filter ul.nav.nav-pills li.active {
	background-color: #009688;
}

.mdl-filter ul.nav.nav-pills li a {
	color: #009688;
}

.mdl-filter ul.nav.nav-pills li a i {
	color: #009688
}

.mdl-filter ul.nav.nav-pills li a:focus, .mdl-filter ul.nav.nav-pills li a:hover
	{
	background-color: #009688;
}

/* Fab position */
.mfb-component--br .mfb-component__button--main {
	background-color: #009688 !important;
}
.mfb-component--br button.mfb-component__button--child i {
	color: #009688 !important;
}

/* Modal select */
.mobileSelect-savebtn, .mobileSelect-container .list-container .mobileSelect-control.selected
	{
	background-color: #009688 !important;
}

/* Text field */
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
	color: #009688
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label:BEFORE {
	background-color: #009688
}

/* DateTimePicker */
.dtp-date-view {
	background-color: #009688
}

header.dtp-header .dtp-actual-year {
	color: #80CBC4
}

.dtp .dtp-actual-meridien a.selected, .dtp table.dtp-picker-days tr>td>a.selected,
	.dtp div.dtp-date, .dtp div.dtp-time {
	background-color: #009688;
}

.dtp-content line[stroke="#2196F3"] {
	stroke: #009688;
}

.dtp-content circle[fill="#2196F3"] {
	fill: #009688;
}

/* BUTTON */
.mdl-button--raised, 
.mdl-button--raised:HOVER {
	background-color: #009688;
}

@keyframes loader { 
	0% {
		border-top-color: #009688;
	}
	50% {
		border-top-color: #009688;
		border-right-color: #009688;
	}
	75% {
		border-top-color: #009688;
    	border-bottom-color: #009688;
		border-right-color: #009688;
	}
	100% {
		border-top-color: #009688;
		border-bottom-color: #009688;
		border-left-color: #009688;
		border-right-color: #009688;
	}
}

.label i {
	font-size: 14px;
	position: relative;
	top: 1.5px;
	margin-right: 2.5px;
	color: #FFFFFF;
}

.mdl-textfield__input:FOCUS {
	outline: none;
}

/* RADIOS LABEL COLORS */
.mdl-radio.radio-danger .mdl-radio__outer-circle {
	border-color: #F44336
}

.mdl-radio.radio-danger .mdl-radio__inner-circle {
	background-color: #F44336
}

.mdl-radio.radio-danger .mdl-radio__ripple-container .mdl-ripple {
	background-color: #FFCDD2
}

.mdl-radio.radio-warning .mdl-radio__outer-circle {
	border-color: #FFC107
}

.mdl-radio.radio-warning .mdl-radio__inner-circle {
	background-color: #FFC107
}

.mdl-radio.radio-warning .mdl-radio__ripple-container .mdl-ripple {
	background-color: #FFE082
}

/* CALENDAR  */
.mdl-calendar .cal-day-today {
	background-color: #80CBC4;
}

.mdl-calendar .mdl-card__menu button.mdl-button.active, .mdl-calendar .mdl-card__menu a.mdl-button.active
	{
	color: #009688
}

/* DateTimePicker */
.dtp-date-view {
	background-color: #009688
}

header.dtp-header .dtp-actual-year {
	color: #80CBC4
}

.dtp .dtp-actual-meridien a.selected, .dtp table.dtp-picker-days tr>td>a.selected,
	.dtp div.dtp-date, .dtp div.dtp-time {
	background-color: #009688;
}

.dtp-content line[stroke="#2196F3"] {
	stroke: #009688;
}

.dtp-content circle[fill="#2196F3"] {
	fill: #009688;
}

/* INPUT GROUP ACTIVE */
.mdl-input-group.active .mdl-icon i{
	color: #009688
}

/* Wizard*/
.mdl-wizard .form-wizard.form-wizard-horizontal .form-wizard-nav .progress .progress-bar-primary{
	background-color: #009688;
}

.mdl-wizard .form-wizard.form-wizard-horizontal .form-wizard-nav .progress{
	width: 70%;
}

.mdl-wizard .form-wizard.form-wizard-horizontal .nav li.active .step, 
.mdl-wizard .form-wizard.form-wizard-horizontal .nav li:hover .step{
    border-color: #009688;
    color: #009688;
}

.mdl-wizard .form-wizard.form-wizard-horizontal .nav li.active .title,
.mdl-wizard .form-wizard.form-wizard-horizontal .nav li:hover .title{
    color: #009688;		
}

.mdl-wizard .form-wizard.form-wizard-horizontal .nav li.complete .step{
    border-color: #009688;
    background-color: #009688;
}

.mdl-wizard .form-wizard.form-wizard-horizontal .nav li.complete .title{
	color: #009688
}

/*  LOADING */
.mdl-spinner.is-active .mdl-spinner__layer-4,
.mdl-spinner.is-active .mdl-spinner__layer-3,
.mdl-spinner.is-active .mdl-spinner__layer-2,
.mdl-spinner.is-active .mdl-spinner__layer-1{
	border-color: #009688 !important;
}

a.mdl-button.mdl-save__load.mdl-save__load__loading[disabled],
button.mdl-button.mdl-save__load.mdl-save__load__loading[disabled]{
	background-color: #009688  !important;
}

/* PHOTO */
.mdl-photo:hover .mdl-img{
	border-color: #009688 !important;
}

.mdl-photo .fade-caption i{
	color: #009688;
}

.highlight{
	background-color: #00796B;
	color: #FFFFFF;
}

/* CHIPS */
.mdl-chip.active{
	background-color: #009688;
}

/* Barra Filtro */
#aulasTitulo li:nth-child(2):before,
#alumnosTitulo li:nth-child(2):before{
	content: "" !important;
}

.pace .pace-progress {
	background-color: #00796B	
}

#s1{
	display:initial;
}

#s2{
	display:none
}

@media(max-width:620px){
	#s1{
		display:none;
	}
	#s2{
		display:initial;
	}	
}

@media(max-width:425px){
	#s1{
		display:none;
	}
	#s2{
		display:none;
	}	
	.btn-cuotas{
		min-width:44px !important;
	}	
	.btn-cuotas i{
		font-size:25px !important;
	}
	button.mdl-button, a.mdl-button{
		margin-left:0px;
	}
	
}

#btn_ver_compromisos:focus:not(:active), #botonDefCuotas:focus:not(:active){
	background-color: #009688;
box-shadow:0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
		rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}	

#btn_ver_compromisos:focus:not(:active) ,#botonDefCuotas:focus:not(:active){
	background-color: #009688;
}

#tableCorrelativos .fixed-table-toolbar .pull-left.search{
	width: calc( 100% - 120px) ;
}

#tableCorrelativos tr.color-anulado{
	background-color: #FFEBEE;
}

@media (( min-width : 281px ) and ( max-width : 420px )), (( min-width : 661px ) and ( max-width : 800px )){	
	.mdl-card.mdl-classroom:NTH-CHILD( 2n - 1 ) {
		margin-left: 0;
		margin-right: 6.75px;	
	}
	
	.mdl-card.mdl-classroom:NTH-CHILD( 2n ) {
		margin-right: 0;
		margin-left: 6.75px;		
	}
}

@media (( min-width : 421px ) and ( max-width : 480px )), (( min-width : 801px ) and ( max-width : 1065px )){	
	.mdl-card.mdl-classroom:NTH-CHILD( 3n - 2 ) {
		margin-left: 0;
		margin-right: 6.75px;
	}
	
	.mdl-card.mdl-classroom:NTH-CHILD( 3n - 1 ) {
		margin-left: 6.75px;
		margin-right: 6.75px;
	}
	
	.mdl-card.mdl-classroom:NTH-CHILD( 3n ) {
		margin-right: 0;
		margin-left: 6.75px;
	}
}

@media (( min-width : 481px ) and ( max-width : 660px )), (( min-width : 1066px ) and ( max-width : 1320.9999px )){	
	.mdl-card.mdl-classroom:NTH-CHILD( 4n - 3 ) {
		margin-left: 0;
		margin-right: 6.75px;
	}
	
	.mdl-card.mdl-classroom:NTH-CHILD( 4n - 2 ),
	.mdl-card.mdl-classroom:NTH-CHILD( 4n - 1 ) {
		margin-left: 6.75px;
		margin-right: 6.75px;
	}
	
	.mdl-card.mdl-classroom:NTH-CHILD( 4n ) {
		margin-right: 0;
		margin-left: 6.75px;
	}
}

@media ( min-width : 1321px ){
	.mdl-card.mdl-classroom:NTH-CHILD( 5n - 4 ) {
		margin-left: 0;
		margin-right: 6.75px;
	}
	
	.mdl-card.mdl-classroom:NTH-CHILD( 5n - 3 ),
	.mdl-card.mdl-classroom:NTH-CHILD( 5n - 2 ),
	.mdl-card.mdl-classroom:NTH-CHILD( 5n - 1 ) {
		margin-left: 6.75px;
		margin-right: 6.75px;
	}
}

/* -- FilTRO --*/
.breadcrumb li,
.breadcrumb li a,
.breadcrumb li:HOVER a,
.breadcrumb li:FOCUS a{
	color: #757575;
	outline: none;
	cursor: default;	
}

.breadcrumb li:nth-child(2):before {
    content: "" !important;
}
.pace .pace-progress{
	background-color: transparent !important;
}

 .mdl-card.mdl-classroom:NTH-CHILD( 5n - 4 ),
.mdl-card.mdl-classroom:NTH-CHILD( 5n ),
.mdl-card.mdl-classroom:NTH-CHILD( 5n - 2 ),
.mdl-card.mdl-classroom:NTH-CHILD( 5n - 1 ),
.mdl-card.mdl-classroom:NTH-CHILD( 5n - 3 ){
	margin-left:5.5px ;
	margin-right:5.5px;
}

.mdl-button--raised, .mdl-button--raised:ACTIVE{
		box-shadow:0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
}

.mfb-component--br a.mfb-component__button--main i, .mfb-component--br button.mfb-component__button--main i{
	top:9px !important	;
} 

/* PERFIL */
.box-header{
	background: #009688;
}

.mdl-header-input-group .mdl-textfield__input{
	color:#FFFFFF;
}

.img-banco{
	width:120px;
	min-width:120px;
	height:30px;
	border-radius:0 !important;
}